@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

body {
  font: 12px/1.5 "hiragino sans gb",arial;
  color: #666; }

html, body {
  height: 100%; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.noscroll {
  overflow: hidden; }

@media screen and (min-width: 1000px) {
  body {
    width: 900px; } }

.mod-two-col-list {
  margin: 14px 10px 10px; }
  .mod-two-col-list .list-title {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
    font-weight: normal; }
  .mod-two-col-list .list-container {
    margin-right: -8px; }
    .mod-two-col-list .list-container::after {
      content: '';
      display: block;
      clear: both; }
    .mod-two-col-list .list-container .list-item {
      float: left;
      width: 50%;
      padding-right: 8px;
      margin-bottom: 10px; }
      .mod-two-col-list .list-container .list-item a {
        background: #fff;
        display: block; }
      .mod-two-col-list .list-container .list-item .item-media {
        position: relative; }
        .mod-two-col-list .list-container .list-item .item-media img {
          width: 100%;
          display: block; }
        .mod-two-col-list .list-container .list-item .item-media .icon {
          position: absolute;
          height: 24px;
          bottom: 10px;
          right: 5px;
          width: 24px;
          background-position: 0 0;
          background-image: url(../images/list_sprite.png);
          background-repeat: no-repeat;
          background-size: 24px 60px; }
      .mod-two-col-list .list-container .list-item .item-info {
        padding: 5px 7px; }
        .mod-two-col-list .list-container .list-item .item-info h3 {
          height: 36px;
          line-height: 18px;
          white-space: normal;
          word-wrap: break-word;
          font-weight: normal; }

.hot-song .list-more {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #666; }

footer .version-tab {
  text-align: center;
  margin-bottom: 16px; }
  footer .version-tab a {
    color: #666; }

footer .footer-logo {
  display: block;
  width: 82px;
  height: 24px;
  margin: 0 auto 10px;
  background-image: url(../images/logo_footer.png);
  background-repeat: no-repeat;
  background-size: cover; }

footer .copyright {
  font-size: 10px;
  text-align: center; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  background: #31c27c; }
  #header h1 {
    display: none; }
  #header #logo {
    height: 25px; }
  #header .player-btn {
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 15px;
    background: #149c5a;
    border-radius: 100px;
    color: #fff; }

.qq-slider {
  width: 100%;
  overflow: hidden; }
  .qq-slider .qq-slider-item > a {
    display: block; }
    .qq-slider .qq-slider-item > a img {
      width: 100%;
      display: block; }
  .qq-slider .qq-slider-wrap {
    position: relative;
    display: flex;
    transition: .3s; }

.navbar {
  display: flex;
  justify-content: space-around; }
  .navbar li {
    width: 33.33%;
    height: 40px;
    line-height: 40px;
    text-align: center; }
    .navbar li.current {
      border-bottom: 2px solid #31c27c;
      color: #31c27c; }

#rank-view .top-list-wrap {
  width: 100%;
  padding: 10px 10px 0; }
  #rank-view .top-list-wrap .top-item {
    background: #fff;
    margin-bottom: 10px; }
    #rank-view .top-list-wrap .top-item a {
      display: block;
      display: flex; }
      #rank-view .top-list-wrap .top-item a img {
        display: block;
        width: 100px;
        height: 100px; }
      #rank-view .top-list-wrap .top-item a .item-content {
        width: calc(100% - 100px);
        position: relative;
        padding-left: 10px; }
        #rank-view .top-list-wrap .top-item a .item-content .topic {
          padding: 5px 0;
          font-size: 16px; }
        #rank-view .top-list-wrap .top-item a .item-content .song-detail {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.5);
          margin-bottom: 2px; }
          #rank-view .top-list-wrap .top-item a .item-content .song-detail .song-name {
            color: #000;
            margin-left: 8px;
            margin-right: 5px; }
        #rank-view .top-list-wrap .top-item a .item-content .topic-arrow {
          position: absolute;
          right: 6px;
          top: 45%; }

#rank-view .list-more {
  height: 50px;
  line-height: 50px;
  text-align: center; }

#search-view .search-bar {
  display: flex;
  padding: 10px;
  font-size: 14px;
  background: #f4f4f4; }
  #search-view .search-bar .input-wrap {
    flex: 1;
    position: relative;
    border-radius: 3px;
    background: #fff;
    height: 36px;
    padding: 8px 12px 8px 35px; }
    #search-view .search-bar .input-wrap #search {
      height: 20px;
      line-height: 20px;
      width: 100%;
      color: rgba(0, 0, 0, 0.3);
      border: none;
      outline: none; }
    #search-view .search-bar .input-wrap .icon-search {
      position: absolute;
      top: 9px;
      left: 10px;
      width: 18px;
      height: 18px;
      background-image: url(../images/icon_search.png);
      background-repeat: no-repeat;
      background-size: cover;
      text-indent: -999px; }
  #search-view .search-bar .search-btn {
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 5px;
    color: #fff;
    background: #f39724; }

#search-view .search-results .search-song-list li {
  background: #fff; }
  #search-view .search-results .search-song-list li a {
    position: relative;
    display: block;
    padding-left: 56px;
    height: 56px;
    border-top: 1px solid #e5e5e5; }
    #search-view .search-results .search-song-list li a .icon-music {
      position: absolute;
      top: 18px;
      left: 18px;
      width: 22px;
      height: 20px;
      background-position: 0 0;
      background-image: url(../images/music.png);
      background-repeat: no-repeat;
      background-size: 22px 30px; }
    #search-view .search-results .search-song-list li a .main-title {
      margin: 10px 0 4px;
      line-height: 18px;
      font-size: 16px;
      font-weight: normal;
      color: #000; }
    #search-view .search-results .search-song-list li a .sub-title {
      color: #808080; }
  #search-view .search-results .search-song-list li:last-child > a {
    border-bottom: 1px solid #e5e5e5; }

#search-view .search-loading {
  display: none;
  height: 55px;
  font-size: 14px;
  justify-content: center;
  align-items: center; }
  #search-view .search-loading.show {
    display: flex; }
  #search-view .search-loading .icon-loading {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    background-image: url(../images/icon_loading.png);
    /* rotate 是下面定义的动作 linear 是均匀的旋转 infinite 是无休止的*/
    animation: 1s rotate linear infinite; }
  #search-view .search-loading .loading {
    margin-left: 5px; }
  #search-view .search-loading .load-done.hide {
    display: none; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#player-panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: .3s; }
  #player-panel.show {
    opacity: 1;
    transform: translateY(0); }
  #player-panel .player-container {
    height: 100%;
    background: rgba(255, 255, 255, 0.3); }
  #player-panel .bg-cover {
    position: absolute;
    z-index: -1;
    top: -15px;
    left: -15px;
    bottom: -15px;
    right: -15px;
    background: url(../images/static.jpg) center/cover no-repeat;
    filter: blur(5px); }
  #player-panel .panel-header {
    display: flex;
    padding: 15px;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); }
    #player-panel .panel-header .album-cover {
      width: 70px;
      height: 70px;
      margin-right: 10px; }
    #player-panel .panel-header .play-title {
      flex: 1;
      max-width: calc(100% - 130px); }
      #player-panel .panel-header .play-title .name {
        font-size: 22px; }
      #player-panel .panel-header .play-title .author {
        font-size: 14px; }
    #player-panel .panel-header .play {
      margin-left: 10px;
      font-size: 40px; }
  #player-panel .lyric-box {
    text-align: center;
    height: calc(100% - 270px);
    margin: 20px 0;
    padding: 0 10px;
    overflow: hidden;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6); }
    #player-panel .lyric-box .player-lyrics-lines {
      transition: .6s; }
      #player-panel .lyric-box .player-lyrics-lines .player-lyric {
        height: auto;
        line-height: 30px;
        white-space: normal;
        word-wrap: break-word; }
        #player-panel .lyric-box .player-lyrics-lines .player-lyric.active {
          color: #31c27c;
          font-size: 16px; }
  #player-panel .player-footer {
    position: relative; }
    #player-panel .player-footer .icon-list {
      position: absolute;
      color: #333;
      top: -50px;
      right: 10px;
      font-size: 30px; }
    #player-panel .player-footer .progress {
      display: flex;
      align-items: center;
      height: 40px;
      font-size: 14px;
      padding: 10px;
      color: rgba(0, 0, 0, 0.8); }
      #player-panel .player-footer .progress .bar {
        flex: 1;
        margin: 0 10px;
        height: 3px;
        background: rgba(0, 0, 0, 0.3);
        overflow: hidden; }
        #player-panel .player-footer .progress .bar .progress-now {
          background: #31c27c;
          height: 3px;
          transform: translateX(-100%); }
    #player-panel .player-footer .actions {
      margin-top: 10px; }
      #player-panel .player-footer .actions .btn-download {
        display: block;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        margin: 0 50px;
        border-radius: 100px;
        background: #31c27c;
        color: #f1f1f1;
        text-align: center; }

body {
  background: #f4f4f4; }

.tabs section {
  display: none; }
  .tabs section.active {
    display: block; }
