#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background: $header-background;
  h1 {
    display: none;
  }
  #logo {
    height: $logo-height;
  }
  .player-btn {
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 15px;
    background: #149c5a;
    border-radius: 100px;
    color: #fff;
  }
}