.qq-slider{
  width: 100%;
  overflow: hidden;
  .qq-slider-item {
    >a {
      display: block;
      img {
        width: 100%;
        display: block;
      }
    }
  }

  .qq-slider-wrap {
    position: relative;
    display: flex;
    transition: .3s;
  }
}