@import "var";
@import "common";
@import "rec";
@import "header";
@import "slider";
@import "navbar";
@import "rank";
@import "search";
@import "player";

body{
  background: $body-background;
}

.tabs {
  section {
    display: none;
    &.active{
      display: block;
    }
  }
}